# __"MY Train ChatBot" Data Cleaning and Transformation__

In [1]:
#importing Dependencies
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Loading the train schedule data in pandas dataframe
df=pd.read_csv("train_schedule.csv")
#---------------------------------------------------
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)
#---------------------------------------------------
df.head()

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,00:00:00,10:25:00,0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,11:06:00,11:08:00,32,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
2,107,SWV-MAO-VLNK,3,KRMI,KARMALI,11:28:00,11:30:00,49,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
3,107,SWV-MAO-VLNK,4,MAO,MADGOAN JN.,12:10:00,00:00:00,78,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
4,108,VLNK-MAO-SWV,1,MAO,MADGOAN JN.,00:00:00,20:30:00,0,MAO,MADGOAN JN.,SWV,SAWANTWADI ROAD

In [3]:
#Converting the specific columns to numeric datatypes
df['SEQ'] = pd.to_numeric(df['SEQ'], errors='coerce')
df['Distance'] = pd.to_numeric(df['Distance'], errors='coerce')
df['Arrival time'] = pd.to_datetime(df['Arrival time'],errors='coerce').dt.time  
df['Departure Time'] = pd.to_datetime(df['Departure Time'],errors='coerce').dt.time

In [4]:
#Checking for null values
print("Null Values:",df.isnull().sum().to_dict())

Null Values: {'Train No': 0, 'Train Name': 0, 'SEQ': 5, 'Station Code': 0, 'Station Name': 0, 'Arrival time': 10, 'Departure Time': 10, 'Distance': 10, 'Source Station': 10, 'Source Station Name': 10, 'Destination Station': 10, 'Destination Station Name': 10}

In [5]:
#Dropping the rows with null values
df.dropna(inplace=True)
print("Null Values:",df.isnull().sum().to_dict())

Null Values: {'Train No': 0, 'Train Name': 0, 'SEQ': 0, 'Station Code': 0, 'Station Name': 0, 'Arrival time': 0, 'Departure Time': 0, 'Distance': 0, 'Source Station': 0, 'Source Station Name': 0, 'Destination Station': 0, 'Destination Station Name': 0}

In [6]:
#Converting the columns to relavant datatypes
df['SEQ'] = df['SEQ'].astype(int)
df['Distance'] = df['Distance'].astype(float)

In [7]:
# Add columns for starting and ending stations along with their codes
df['Starting Station'] = df['Station Name'].shift(1)
df['Starting Station Code'] = df['Station Code'].shift(1)
df['Ending Station'] = df['Station Name']
df['Ending Station Code'] = df['Station Code']

# If the current row is the first row for a new train, set the starting station and code to the source station and its code
df.loc[df['Train No'] != df['Train No'].shift(1), 'Starting Station'] = df['Source Station Name']
df.loc[df['Train No'] != df['Train No'].shift(1), 'Starting Station Code'] = df['Source Station']

# If the current row is the last row for a train, set the ending station and code to the destination station and its code
df.loc[df['Train No'] != df['Train No'].shift(-1), 'Ending Station'] = df['Destination Station Name']
df.loc[df['Train No'] != df['Train No'].shift(-1), 'Ending Station Code'] = df['Destination Station']
df.head()

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name,Starting Station,Starting Station Code,Ending Station,Ending Station Code
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,00:00:00,10:25:00,0.0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,SAWANTWADI ROAD,SWV,SAWANTWADI R,SWV
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,11:06:00,11:08:00,32.0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,SAWANTWADI R,SWV,THIVIM,THVM
2,107,SWV-MAO-VLNK,3,KRMI,KARMALI,11:28:00,11:30:00,49.0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,THIVIM,THVM,KARMALI,KRMI
3,107,SWV-MAO-VLNK,4,MAO,MADGOAN JN.,12:10:00,00:00:00,78.0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,KARMALI,KRMI,MADGOAN JN.,MAO
4,108,VLNK-MAO-SWV,1,MAO,MADGOAN JN.,00:00:00,20:30:00,0.0,MAO,MADGOAN JN.,SWV,SAWANTWADI ROAD,MADGOAN JN.,MAO,MADGOAN JN.,MAO

In [8]:
df['Source-Destination Name'] = df['Source Station Name'] + ' - ' + df['Destination Station Name']

# Merge 'Source Station' and 'Destination Station' with a hyphen
df['Source-Destination Code'] = df['Source Station'] + ' - ' + df['Destination Station']

df.head(2)

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name,Starting Station,Starting Station Code,Ending Station,Ending Station Code,Source-Destination Name,Source-Destination Code
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,00:00:00,10:25:00,0.0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,SAWANTWADI ROAD,SWV,SAWANTWADI R,SWV,SAWANTWADI ROAD - MADGOAN JN.,SWV - MAO
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,11:06:00,11:08:00,32.0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.,SAWANTWADI R,SWV,THIVIM,THVM,SAWANTWADI ROAD - MADGOAN JN.,SWV - MAO

In [9]:
df.drop(['Source Station Name', 'Destination Station Name', 'Source Station', 'Destination Station','Station Name','Station Code'], axis=1, inplace=True)

In [10]:
df = df[['Train No', 'Train Name', 'SEQ','Source-Destination Name', 'Source-Destination Code','Starting Station','Ending Station','Starting Station Code', 'Ending Station Code',  'Arrival time', 'Departure Time', 'Distance',]]

In [11]:
data=df[['Train No', 'Train Name','Source-Destination Name','Source-Destination Code','Starting Station','Ending Station','Arrival time','Departure Time','Starting Station Code', 'Ending Station Code', 'Distance',]]

In [12]:
data.head(10)

,Train No,Train Name,Source-Destination Name,Source-Destination Code,Starting Station,Ending Station,Arrival time,Departure Time,Starting Station Code,Ending Station Code,Distance
0,107,SWV-MAO-VLNK,SAWANTWADI ROAD - MADGOAN JN.,SWV - MAO,SAWANTWADI ROAD,SAWANTWADI R,00:00:00,10:25:00,SWV,SWV,0.0
1,107,SWV-MAO-VLNK,SAWANTWADI ROAD - MADGOAN JN.,SWV - MAO,SAWANTWADI R,THIVIM,11:06:00,11:08:00,SWV,THVM,32.0
2,107,SWV-MAO-VLNK,SAWANTWADI ROAD - MADGOAN JN.,SWV - MAO,THIVIM,KARMALI,11:28:00,11:30:00,THVM,KRMI,49.0
3,107,SWV-MAO-VLNK,SAWANTWADI ROAD - MADGOAN JN.,SWV - MAO,KARMALI,MADGOAN JN.,12:10:00,00:00:00,KRMI,MAO,78.0
4,108,VLNK-MAO-SWV,MADGOAN JN. - SAWANTWADI ROAD,MAO - SWV,MADGOAN JN.,MADGOAN JN.,00:00:00,20:30:00,MAO,MAO,0.0
5,108,VLNK-MAO-SWV,MADGOAN JN. - SAWANTWADI ROAD,MAO - SWV,MADGOAN JN.,KARMALI,21:04:00,21:06:00,MAO,KRMI,33.0
6,108,VLNK-MAO-SWV,MADGOAN JN. - SAWANTWADI ROAD,MAO - SWV,KARMALI,THIVIM,21:26:00,21:28:00,KRMI,THVM,51.0
7,108,VLNK-MAO-SWV,MADGOAN JN. - SAWANTWADI ROAD,MAO - SWV,THIVIM,SAWANTWADI ROAD,22:25:00,00:00:00,THVM,SWV,83.0
8,128,MAO-KOP SPEC,MADGOAN JN. - CHHATRAPATI SHAHU MAHARAJ TERMINUS,MAO - KOP,MADGOAN JN.,MADGOAN JN.,19:40:00,19:40:00,MAO,MAO,0.0
9,128,MAO-KOP SPEC,MADGOAN JN. - CHHATRAPATI SHAHU MAHARAJ TERMINUS,MAO - KOP,MADGOAN JN.,KARMALI,20:18:00,20:20:00,MAO,KRMI,33.0

In [13]:
output_distance=[]
#------------------------------------------------------------------------------
def distance_2(distance_list):
        output_distance.append(int(distance_list[0]))
        for i in range(1, len(distance_list) ):
            interval = int((distance_list[i] - distance_list[i - 1]))
            output_distance.append(interval)
        # output_distance.append(int((distance_list[-1]))) 
#-------------------------------------------------------------------------
for train_no in df["Train No"].unique().tolist():
            distance_list=[]
            def distance_1(row):
                global distance_list
                distance_list.append(row)
            #------------------------------------------------------------------------- 
            data=df[df["Train No"]==train_no]  
            data["new_distance"]=data["Distance"].apply(lambda row :distance_1(row))
            distance_2(distance_list)

In [14]:
#Creating a column New Distance
df["New Distance"]=output_distance

In [15]:
#Taking a copy of the dataframe
data_2=df.copy()

In [16]:

tnaml=[]
sdnl=[]
sdcl=[]
tnl=[]
snl=[]
enl=[]
sl=[]
el=[]
dl=[]
dtime_source_list=[]
atime_source_list=[]
#---------------------------------------------------------------------
for train_number in data_2["Train No"].unique().tolist():
        df=data_2[data_2["Train No"]==train_number]
        #--------------------------------------------------------------------------------------
        ending_station_code = df["Ending Station Code"].values.tolist()
        departure_time = df["Departure Time"].values.tolist()
        station_departure_dict = dict(zip(ending_station_code, departure_time))
        #--------------------------------------------------------------------------------------
        starting_station_code = df["Ending Station Code"].values.tolist()
        arrival_time = df["Arrival time"].values.tolist()
        station_arrival_dict = dict(zip(starting_station_code, arrival_time))
        #--------------------------------------------------------------------------------------
        tname=df["Train Name"].values.tolist()
        tn=df["Train No"].values.tolist()
        sdn=df["Source-Destination Name"].values.tolist()
        sdc=df["Source-Destination Code"].values.tolist()
        sn=df["Starting Station"].values.tolist()
        en=df["Ending Station"].values.tolist()
        sc=df["Starting Station Code"].values.tolist()
        ec=df["Ending Station Code"].values.tolist()
        distance=df["New Distance"].values.tolist()
        d_time=df["Departure Time"].values.tolist()
        a_time=df["Arrival time"].values.tolist()
        #--------------------------------------------------------------------------------------
        start_index=0
        start_distance=1
        for scc ,num ,tnam,sdcode,sdnam,ssn,esn,dt,at in zip(sc,tn,tname,sdc,sdn,sn,en,d_time,a_time):
                ind=0
                for j ,p, in zip(ec[start_index:],en[start_index:]):
                    sdnl.append(sdnam)
                    sdcl.append(sdcode)
                    tnaml.append(tnam)
                    tnl.append(num)
                    sl.append(scc)
                    snl.append(ssn)
                    enl.append(p)
                    el.append(j)
                    #-------------------------------------------------------------
                    try:
                            dtime_source_list.append(station_departure_dict[scc])
                    except Exception as e:
                           dtime_source_list.append(np.nan)
                    try:
                          atime_source_list.append(station_arrival_dict[j])  
                    except Exception as e:
                           atime_source_list.append(np.nan)
                    dl.append(sum(distance[:ind+1]))
                    ind=ind+1
                start_index=start_index+1
                distance=distance[start_distance:]
#---------------------------------------------------------------------
data_dict = {'Train No':tnl,'Train Name' :tnaml,'Source - Destination Name':sdnl,'Source - Destination Code':sdcl, 'Starting Station Name': snl,'Ending Station Name': enl,'Starting Station Code': sl, 'Ending Station Code': el, 'Distance': dl,"Departure Time":dtime_source_list,"Arrival Time":atime_source_list,}
final_df=pd.DataFrame(data_dict)
final_df.drop_duplicates(inplace=True)
final_df.shape

(2466394, 11)

In [17]:
#Dropping duplicates
final_df = final_df.drop_duplicates(subset=['Starting Station Code', 'Ending Station Code','Train No'])
final_df = final_df.reset_index(drop=True)
#--------------------------------------------------------------------------------------
final_df['Source - Destination Name'] =final_df['Source - Destination Name'].str.replace('.', '')
final_df['Starting Station Name'] =final_df['Starting Station Name'].str.replace('.', '')
final_df['Ending Station Name'] =final_df['Ending Station Name'].str.replace('.', '')
final_df.tail(5)

,Train No,Train Name,Source - Destination Name,Source - Destination Code,Starting Station Name,Ending Station Name,Starting Station Code,Ending Station Code,Distance,Departure Time,Arrival Time
2418108,99908,EMU,PUNE JN - TALEGAON,PUNE - TGN,DEHU ROAD,GHORAWADI,DEHR,GRWD,7,23:36:00,23:41:00
2418109,99908,EMU,PUNE JN - TALEGAON,PUNE - TGN,DEHU ROAD,TALEGAON,DEHR,TGN,10,23:36:00,23:50:00
2418110,99908,EMU,PUNE JN - TALEGAON,PUNE - TGN,BEGDAEWAI,GHORAWADI,BGWI,GRWD,3,23:40:00,23:41:00
2418111,99908,EMU,PUNE JN - TALEGAON,PUNE - TGN,BEGDAEWAI,TALEGAON,BGWI,TGN,6,23:40:00,23:50:00
2418112,99908,EMU,PUNE JN - TALEGAON,PUNE - TGN,GHORAWADI,TALEGAON,GRWD,TGN,3,23:42:00,23:50:00

In [18]:
#Saving the cleaned file 
final_df.to_csv("train_schedule_cleaned.csv",index=False)

### __Transforming The Data Into MYSQL Database:__

In [20]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
#--------------------------------------------------------------
host='localhost'
user='root'
password='xxxxx'
db='train_db'
#--------------------------------------------------------------
# Create SQLAlchemy engine to connect to MySQL
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{db}")
#--------------------------------------------------------------
final_df.to_sql('train_schedule', con=engine, if_exists='replace', index=False)
#--------------------------------------------------------------
engine.dispose()